* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("20231029_174505.jpg");
    background-position: center;
    background-size: 2000px;
}

.header {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0cm;
    width: 100%;
    height: auto;
    border: 1px solid gray;
    background: transparent;
    backdrop-filter: blur(70px);
    padding: 5px;
}

.header button {
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    background-color: rgba(0, 217, 255, 0.377);
    outline: none;
    margin: 10px 10px;
    color: rgba(255, 255, 255, 0.774);
}

.wrapper {
    width: 400px;
    height: auto;
    border: 1px solid gray;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(70px);
    padding: 20px;
}

.wrapper1 {
    width: 400px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(70px);
}

.wrapper h1 {
    font-size: 24px;
    text-align: center;
}

.wrapper1 button {
    width: 100%;
    height: 100%;
    border: transparent;
    background: transparent;
    font-size: 24px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding-left: 20px;
}

.wrapper label1 {
    font-weight: 600;
}

.input-box input {
    width: 90%;
    height: 30px;
    border-radius:7px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.input-box input:hover, input:focus {
    background-color: rgb(219, 219, 219);
    cursor: text;
}

label:hover {
    cursor: pointer;
}

.wrapper .btn {
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px gray;
    align-content: center;
    outline: none;
    margin: 10px 145px;
}

.wrapper .btn1 {
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px gray;
    align-content: center;
    outline: none;
    margin: 10px 50px;
}

.btn:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}